/* Hero Section */
.hero {
  height: 100vh;
  background: url('../img/pexels-bri-schneiter-28802-346529.jpg') no-repeat center center/cover;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
}
.hero .container {
  position: relative;
  z-index: 1;
}

/* Navbar */
.navbar {
  transition: background 0.3s;
}
.navbar.scrolled {
  background: rgba(0,0,0,0.85) !important;
}

/* Typing Effect */
.cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}
/* rounded container pada skill */
.skill-container {
  background: rgb(180, 202, 212);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}